body {
    text-align: center;
}

#location {
    margin: auto;
    font-size: 2em;
    background-color: rgb(22, 165, 22);
    color: black;
}

.locationList {
    margin: auto;
}

.locationEntry {
    margin: auto;
    margin-top: 1em;
    padding-bottom: 0.2em;
    background-color: rgb(189, 189, 189);
    text-align: left;
}

.locationEntry span {
    display: inline-block;
    border: 1px solid black;
}

.arrow {
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }