body {
    text-align: center;
}

button {
    padding: 0;
}

/* --- Search --- */
#search {
    display: inline-block;
    position: relative;
    left: 30em;
    margin-bottom: 0.1em;
}

#search button {
    position: relative;
    bottom: 1em;
    padding: 0.75em 0.75em;
}


/* --- Location Selection ---*/
#location {
    margin: auto;
    font-size: 2em;
    background-color: rgb(119, 136, 119);
    color: black;
}

#locationList {
    margin: auto;
}

/* Data */
#dataHeader {
    margin: auto;
    font-size: 2em;
    background-color: rgb(119, 136, 119);
    color: black;
}

/* Categories */
#categoryHeader {
  margin: auto;
    font-size: 2em;
    background-color: rgb(216, 216, 216);
    color: black;
}

#categoryEntries * {
  display: inline-block;
}

#categoryEntries button {
  padding: 20px 10px;
  text-align: left;
}

/* Entries */
#entries {
  margin: auto;
}

#entryHeader {
  margin: auto;
  font-size: 2em;
  background-color: rgb(216, 216, 216);
  color: black;
}

ul {
    margin:0;
    padding:0;
  }
li {
    cursor: move;
    display: block;
    padding: 20px 10px;
    background: white;
    border-bottom: solid 1px gray;
    border-left: solid 1px gray;
    border-right: solid 1px gray;
    text-align: left;
}

li div {
    display: inline-block;
}

.arrow {
    border: solid black;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 6px;
    margin-left: 4em;
    margin-bottom: 0.1em;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }